textarea{
    overflow-y: scroll;
    height: 300px;
    width: 700px;
    resize: none;
    margin-top: 200px;
    
}



body{
    background-color:saddlebrown;
}

div {
    margin-left:20px;
    margin-top: 200px;
  
}